body 
{
    background: white;
}
 #header 
{
   height:75px;
   width:100%;
   background: #ef5861;
   box-shadow: 0px 3px 6px gray; 
    }
#navbar
{
   height:75px;
   width:100%;
float: right; 
    }
#navbar>li
{
height:75px;
width:200px;
float: right;
border-right: 2px gray;
border-left: 2px gray;
list-style: none; 
    }    
li>a
{
    color:White;
    display: block;
    line-height: 50px;
    text-align: center;
    font-size:small;
    }       
  li>a: hover;
  li>a: focus  
  {
      color:Navy;
      background: green;
      }
      
      
      




 .signinn {
        padding: 20px;
    }
    
    
    .signinn p {
        font-size: 13px;
        letter-spacing: 0px;
    }
    
    .signinn {
    width: 60%;
    margin: 0 auto;
       box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 50px;
}







.signinn input[type="submit"] {
    font-size: 16px;
    color: #fff;
    background: #ef5861;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 0;
   width: 100%;
    letter-spacing: 1px;
       border-radius: 2px;
}

.signinn input[type="submit"]:hover {
    background: #000;
  
   
}


 .signinn input[type="text"], .signinn input[type="password"], .signinn input[type="email"] {
        font-size: 14px;
        padding: 10px;
        margin-bottom: 15px;
    }
    
    
    
   

.signinn input[type="text"],
.signinn input[type="password"],
.signinn input[type="email"] {
    outline: none;
    font-size: 15px;
   color: #000;
  padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #000;
     display: block;
    background: transparent;
       border-radius: 2px;
}



*/


